/* base html styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --ferngreen: #376D26;
    --polygreen: #2B4C1D;
    --avocado: #709326;
    --white: #E6E9EB;
    --black: #111111;
    --flax: #E8E48B;
}


/* css reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--black);
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}
ol,
ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}
input,
button,
textarea,
select {
    font: inherit;
}


/* Global Styles */

label, input, textarea, select {
	display:block;
	width: 100%;
}
input, textarea, select {
	padding: 8px
}


/* header */

nav {
    display: none;
}
header {
    display:none
}


/* hero */

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 3px solid blue; */
}
.identity {
    /* padding: 56px 36px; */
    display: flex;
    padding-left: 36px;
    flex-direction: column;
    background-color: var(--ferngreen);
    justify-content: center;
    /* border: 3px solid var(--polygreen); */
    border-radius: 16px;
    margin: 10px;
    flex-grow: 1; /* Allow the child div to grow to fill available space */
    flex-basis: 75%; /* Set the initial width of the child div to 75% */
    min-width: 50%; /* Set the minimum width of the child div to 50% */
}
#hero h1 {
   font-size: 5vw;
   margin-bottom: 24px;
   color: var(--white);
}

#hero h2 {
    font-size: 3vw;
    margin-bottom: 24px;
    color: var(--white);
}

.juliephoto {
    width: auto;
    /* border: var(--polygreen); */
    border-radius: 16px;   
    display: block;
}

.photodiv {
    margin: 10px;
}



/* project section */

#projects {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the child div to grow to fill available space */
    flex-basis: 75%; /* Set the initial width of the child div to 75% */
    min-width: 50%; /* Set the minimum width of the child div to 50% */
    margin: 10px;
    
    /* border: 3px solid blue; */
}

.bg-stuff,
.my-icons, .socials {
    border-radius: 16px;
}

.bg-stuff {
    height: 50vh;
    background-size: cover;
    background-repeat:no-repeat;
    border: 3px solid var(--polygreen);
    margin: 10px;
}
.bg-stuff p {
background-image: url(../images/tealeavesbackground.jpg);
width: 100%;
height: 100%;
border-radius: 16px;
}

@media(max-width: 768px){
    .bg-stuff p {
    
    }
}

.link {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: var(--flax);
    border: 3px solid var(--polygreen);
    border-radius: 16px;
}

.link a {
    padding-top: 8px;
    text-decoration: none;
    color: var(--black);
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    background-color: var(--flax);
    border: 3px solid var(--polygreen);
}

.socials {
    max-width: 60%;
    min-width: 40%;
    align-self: center;
}
.my-icons img {
    max-width: 40px;
}
.socials img {
    max-width: 40px;
}

.my-bio {
    margin-top: 16px;
    margin-right: 10px;
    max-width: 30%;
    background-color: var(--avocado);
    border: 3px solid var(--polygreen);
    border-radius: 16px;
} 

.my-bio h2 {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
    padding: 8px;
}

.my-bio p {
    color: var(--white);
    text-align: left;
    font-size: 1.25rem;
    padding: 8px;
}

@media(max-width: 768px) {
    .my-bio p {
       font-size: .75rem; 
    }
}

/* page two */

#hero2 {
    width: 95%;
    height: 240px;
    background-color: var(--avocado);
    border: 3px solid var(--polygreen); 
    border-radius: 16px;
    margin: 16px;
    padding: 24px;
    position: relative;

    /* border: 3px solid blue;  */
}

.Coding {
    text-decoration: var(--white);
    flex-grow: 1; /* Allow the child div to grow to fill available space */
    flex-basis: 100%; /* Set the initial width of the child div to 100% */
    min-width: 50%; /* Set the minimum width of the child div to 50% */
} 
.Coding h2, h3 {
    justify-content: center;
    text-align: center;
}
.Coding p {
    padding-top: 24px;
}

.langlogobg {
    background-image: url(../images/langlogobg.png);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 2;
}

#articles {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(max-width: 768px){
   #articles {
    display: block;
    flex-direction: column;
   }
}
.books {
    position: relative;
    width: 50%;
    background-color: var(--flax);
    border: 3px solid var(--polygreen); 
    border-radius: 16px;
    margin: 16px;
}

.books h2 {
    flex-direction: column;
    text-align: center;
    text-decoration: var(--polygreen);
}
.bookbg {
    background-image: url(../images/bookbg.png);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 3;
}
.books p {
    text-decoration: var(--polygreen);
    font-size: 1rem;
}

@media(max-width: 768px){
    .books {
        min-width: 95%;
    }
}
.tea {
    position: relative;
    width: 50%;
    background-color: var(--ferngreen);
    border: 3px solid var(--polygreen); 
    border-radius: 16px;
    margin: 16px;
    text-decoration: var(--white);
}

.tea h2 {
    flex-direction: column;
    text-align: center;
    color: var(--white)
}
.tea p {
    ;
    font-size: 1rem;
    padding: 36px;
}

.teabg {
    background-image: url(../images/teabg.png);
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: 2;  
}
@media(max-width: 768px){
    .tea {
        min-width: 95%;
    }
}

/* contact form */

#contact {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    max-width: 60%;
}
/* Footer */

footer {
	padding: 16px;
	text-align: center;
}
